@charset "UTF-8";

.q3__content {
  width: 100%;
  border:1px solid#dedede;
  table-layout: fixed;
}
.q3__content th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.q3__content td {
  line-height: 22px;
  text-align: center;
}
.q3__content th, .q3__content td {
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
}
.q3__content tr:nth-child(even) {
  background-color: #ECF1F2;
} 
.q3__content tbody tr:last-child {
  border-top: 2px dashed #000;
}

/*:nth-child:(疑似クラス）引数を一つ指定し、
リストの小要素を要素の位置で選択するためのパターンを
記述する。要素は１から始まる。

add:一連の兄弟要素の中で奇数番目の要素を表す。
（1,3,5などの奇数）

even:↑の偶数バージョン（2,4,6などの偶数）
