@charset "UTF-8";
.q6__box.is-textalign 
.q6__box__inner {
  text-align: center;
}
.q6__box.is-textalign
.q6__box {
  display: inline-block;
}
.q6__box {
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
}
.q6__box.is-margin
.q6__box {
  margin: 0 auto;
  text-align: center; 
}
.q6--around.is-table {
  display: table;
}
.q6--around.is-table
.q6__box {
  display: table-cell;
  background-color: #ecf1f2;
  text-align: center;
  vertical-align: middle;
}
.q6--around.is-table
.q6__box__text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}
.q6--around.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.q6--around.is-flex
.q6__box__text {
  padding: 10px;
  background-color: #fff;
}
.q6--position
.q6__box {
  position: relative;
}
.q6__box.is-stable
.q6__box__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 110px;
  height: 30px;
  background-color: #e6f2ff;
  }
  .q6__box.is-flexible
  .q6__box__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  /* displey:flex ある要素に定義するだけで
  その直下の要素が並列になるスタイル。便利

  他の並列レイアウト方
  float:left 並列させたい要素のスタイルに。
  displey:inline-block　並列させたい要素のスタイルに。
  table　tableタグを利用するか、CSSのdispley:table
  　　　 を使って要素をテーブル化。

  ディスプレイ天地中央で調べるとすぐ使えるレベルで便利  */
  


